h1 {margin: 20px; color:#F0F8FF;}
body {background-color: 	#800000; }
#border {margin: 20px; border: 2px solid black; border-width: 2px; border-radius: 10px; background-color:	#F0F8FF;}
p {color:	#000000; margin: 20px;}
nav {margin: 20px; color:#000000; border: 2px; border-radius: 10px; background-color:#F0F8FF; border: 2px solid black; max-width: 13%;}
h2 {margin:20px;}
h3 {margin:20px;}
#head2 {dislpay: head2; head2-direction: row;}
#end {displa}